:root {
  --light-gray: #f7f8fa;
  --border-vertical-width: 10px;
  --border-horiz-width: 55px;
  --stackline-dark-purple: #65619d;
  --stackline-light-purple: #d7dff3;
  --stackline-dark-blue: #3c4858;
  --stackline-bright-blue: #40a8ef;
  --vertical-border: var(--border-vertical-width) solid var(--light-gray);
  --horizontal-border: var(--border-horiz-width) solid var(--light-gray);
  --container-background-color: white;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: minmax(250px, 0.4fr) 1.3fr;
  grid-template-rows: minmax(100px, 0.15fr) auto-fit minmax(500px, 1.4fr) minmax(
      500px,
      1.4fr
    );
  grid-template-areas: "header-container header-container" "product-container chart-container" "product-container table-container";
}

/* Product Area */
.product-container {
  grid-area: product-container;
  background-color: var(--container-background-color);
  border-left: var(--vertical-border);
  border-right: var(--vertical-border);
  border-top: var(--horizontal-border);
  border-bottom: var(--horizontal-border);
}
#product {
  margin: 2%;
}
#product img {
  height: 100%;
  width: 100%;
}
#title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1%;
}
#subtitle {
  text-align: center;
  font-weight: 300;
}
#spans {
  text-align: center;
}
.tags {
  border: 1px solid black;
  padding: 2%;
  margin: 2%;
  display: inline-block;
}
#icons {
  text-align: left;
}
#overview-icon,
#sales-icon {
  margin: 10%;
}
#overview-icon-text,
#sales-icon-text {
  margin-left: 10%;
}
#product a {
  text-decoration: none;
  color: black;
}
/* Header Area */
.header-container {
  grid-area: header-container;
  background-color: var(--container-background-color);
  text-align: center;
  color: black;
}
/* Chart Area */
.chart-container {
  grid-area: chart-container;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container-background-color);
  border-left: var(--vertical-border);
  border-right: var(--vertical-border);
  border-top: var(--horizontal-border);
  border-bottom: var(--horizontal-border);
}
/* Table Area */
.table-container {
  grid-area: table-container;
  background-color: var(--container-background-color);
  border-left: var(--vertical-border);
  border-right: var(--vertical-border);
  border-bottom: var(--horizontal-border);
}
#table {
  text-align: center;
}
#table table {
  width: 100%;
  border-collapse: collapse;
}
#table table th {
  padding: 3%;
  font-weight: 300;
}
#table tbody td {
  border-top: 1px solid var(--light-gray);
  padding: 2%;
}
th:hover {
  cursor: pointer;
}
